.masonry-list {
  position: relative;
  width: 100%;
  height: 100%;
}

.masonry-item-wrapper {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 6px;
  cursor: pointer;
  top: 0;
  left: 0;
}

.masonry-item-wrapper > .masonry-item-img {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.masonry-item-wrapper > .masonry-item-img::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, transparent 50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.masonry-item-wrapper:hover > .masonry-item-img::after {
  opacity: 1;
}

.masonry-item-wrapper > .masonry-item-video {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.masonry-item-wrapper > .masonry-item-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
